<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div>
    <a href="./scpServerHeader">scpServerHeader</a>
  </div>
  <div>
    <a href="./scpMeta">scpMeta</a>
  </div>
  <div>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP</a>
  </div>

</body>

</html>
